@import 'nib'

btnBgColor = #002222
defaultMargin = 1em
linkColor = black

p 
  font-family source-sans-pro, sans-serif

#canvas
  width 100%
  height 600px

.player-area
  width 260px
  height 60px
  position relative
  top 0
  left 0
  padding 10px
  border-radius 5px
  margin auto

.player-controls
  position relative
  display inline-block
  line-height 30px
  list-style none
  z-index 4
  width 40px
  padding-left 10px
  overflow hidden
  -webkit-padding-start 0px
  margin 0px
  li
    float: left
    display block
    width 30px
    cursor pointer
    margin-left 5px
    transition text-shadow .3s 
    text-decoration none
    :hover
      color black
      text-shadow 0px 0px 20px
    :after
      text-decoration none
      color #09B492

.tempo-changer
  margin-bottom 5px
  display block
  position relative

.info-container
  position relative
  float right

.player-pauseBtn
  display none

.player-progress-container
  width 200px
  height 20px
  position relative
  border 2px solid #09B492
  border-radius 2px
  display inline-block
  vertical-align top
  margin-top 2px

#song-menu
  position relative
  list-style-type none


.player-progress-bar
  background-color #9D304F
  width 0px
  height 20px 

.player-songList
  margin-bottom 5px
  position relative

.upload-area
  margin-top 5px

.icons
  display inline-block
  height 20px
  margin: 0 0 0 50px
  position relative
  width 20px

  .icons-drop-up
    background-color: gray
    bottom: 60px
    color: black
    margin: 0 0 -10px -50px
    opacity: 0
    position: absolute
    vertical-align: bottom
    visibility: hidden
    transition margin 0.2s ease, opacity 0.2s ease, visibility 0s ease 0.2s

  .icons-drop-up:after
    border-left 10px solid transparent
    border-right 10px solid transparent
    border-top 10px solid gray
    content: ""
    left: 50%
    margin: 0 0 -10px -10px
    position: absolute
    bottom: 0px

.icons:hover .icons-drop-up
  margin: 0 0 0 -50px
  opacity: 1
  visibility: visible
  transition: margin 0.2s ease, opacity 0.2s ease, visibility 0s ease 0s

.speed-options
  width 175px
  right -55px





































