body{background-color:#f00}
#canvas{width:800px;height:800px}
.playerArea{width:200px;height:100px;position:fixed;top:0;left:0}
.player-pauseBtn{display:none}
.player-progress-container{width:200px;height:100px;position:fixed;top:100px;left:0}
